{
  "parserOptions": { "parser": "@typescript-eslint/parser" },
  "plugins": ["@typescript-eslint", "import"],
  "extends": [
    "plugin:@typescript-eslint/recommended",
    "plugin:import/warnings",
    "plugin:import/typescript",
    "prettier"
  ],
  "rules": {
    "@typescript-eslint/no-var-requires": "off",
    "@typescript-eslint/no-unused-vars": "off",
    "@typescript-eslint/no-this-alias": "off",
    "@typescript-eslint/explicit-function-return-type": "off",
    "@typescript-eslint/explicit-member-accessibility": "off",
    "import/named": "off",
    "import/default": "off",
    "spaced-comment": ["error", "always"]
  },
  "globals": { "describe": true }
}
