# Add here files/folders that you want them to get ignored by git

# Folders
/node_modules/
/public/build/
/build_dist/
.DS_Store
.vscode
.flatpak-builder
/build/linux/flatpak/build

# Files
package-lock.json
