html,
body {
  position: relative;
  width: 100%;
  height: 100%;
}

svg {
  border-radius: 7px;
}

body {
  background-color: transparent;
}

* {
  box-sizing: border-box;
  overflow-x: auto;
  margin: 0;
  padding: 0;
  outline: none;
  user-select: none;
  -webkit-user-drag: none;
  text-decoration: none;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #a8bbbf;
}
::-webkit-scrollbar-thumb {
  background-color: #d6dee1;
  border-radius: 20px;
  border: 7px solid transparent;
  background-clip: content-box;
}
::-webkit-scrollbar {
  width: 20px;
}
::-webkit-scrollbar-track {
  background-color: transparent;
}

.scrollbar-track {
  width: 0px;
  background-color: transparent !important;
}

.scrollbar-thumb {
  background-color: rgb(182, 182, 182) !important;
  max-width: 5px !important;
}

.page {
  padding: 1.5em;
  width: 100%;
  height: 100%;
}
