* {
  margin: 0;
  padding: 0;
  user-select: none;
  --webkit-user-drag: none;
  outline: none;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
}

#root {
  padding: 1em;
  background-color: white;
  border-radius: 8px;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  -webkit-app-region: drag;
}
