html,
body {
  position: relative;
  width: 100%;
  height: 100%;
}

svg {
  border-radius: 7px;
}

body {
  background-color: transparent;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none;
  user-select: none;
  -webkit-user-drag: none;
  text-decoration: none;
  flex-shrink: 0;
  flex-grow: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
  color: var(--text-color);
}

.scrollbar-track {
  width: 0px;
  background-color: transparent !important;
}

.scrollbar-thumb {
  background-color: rgb(182, 182, 182) !important;
}
.scrollbar-thumb-y {
  background-color: rgb(182, 182, 182) !important;
  max-width: 4px !important;
}
.scrollbar-thumb-x {
  background-color: rgb(182, 182, 182) !important;
  max-height: 4px !important;
}

.ellipsis-text {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.page {
  width: 100%;
  height: 100%;
  padding: 1em;
  background-color: var(--background-color);
}
